{
  "presets": ['es2017', 'stage-0',
    [
      "env",
      {
        "esmodules": false,
        "targets": {
          "browsers": [
            "defaults and supports es6-module"
          ]
        }
      }
    ]
  ],
  "sourceMaps": "inline"
}